<div id="text" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16">account_circle</mat-icon>
                <span class="logo-text h1">Users</span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <div class="content-card">

            <!-- CONTENT -->
            <div class="mat-elevation-z8">

            </div>

            <!-- <div class="content">
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-option [routerLink]='"/results/"+shoe.surveyId+"/show"' *ngFor="let shoe of typesOfShoes"
                        [value]="shoe">
                        {{shoe.userId.name}}
                    </mat-list-option>
                </mat-selection-list>
            </div> -->
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->
        <!-- <div style="position: absolute;right: 20px;bottom:20px;z-index: 2000;">
            <button style="margin-right: 10px; background-color:#092330" mat-fab
                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" [routerLink]="'/surveys/create'">
                <mat-icon style="color: rgb(255, 255, 255)">add</mat-icon>
            </button>
        </div> -->
        <!-- / CENTER -->

    </div>

    <!-- TOP BACKGROUND -->
    <!--  -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <!-- <div class="center">
        <div style="position: absolute;right: 20px;bottom:20px;z-index: 2000;">
            <button style="margin-right: 10px; background-color:#092330" mat-fab
                [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" [routerLink]="'/surveys/create'">
                <mat-icon style="color: rgb(255, 255, 255)">add</mat-icon>
            </button>
        </div>
    </div> -->